:root {
   margin: 0;
   
  }
 .gettime{
  text-align: center;
 }

  /* Navigation Style */
.navbar {
    background-color: #52B2E5;
    }
.navbar-brand{
  color: #f1f6f1;
  font-size: xx-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-brand:hover{
  color: #ee6c4d;
}
nav .nav-link {
  color: #f7fcf7;
  margin-left: 10px;
  font-weight: 600;
  border-bottom: 3px solid transparent;
}
 .nav-item a.active{
  border-bottom: 3px solid #ee6c4d;
}
nav .nav-link:hover {
  color:#ee6c4d; 
  margin-left: 10px;
  border-bottom: 3px solid #ee6c4d;
}
.form-control:hover {
border-color: #ee6c4d;
}
  .btn-outline-success{
  color: #ffffff;
  border-color: #f1f6f1;
 }
 .btn-outline-success:hover{
  background-color:#ee6c4d;
  border-color: white;
 }

.navbar-toggler-icon {
    background-image: none; 
    border: none;
    background-color:#f9f8f8; 
    width: 30px;
    height: 3px;
    display: block;
    position: relative;
}
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    background-color:#ffffff;
    width: 30px;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all 0.3s;
    
}
.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}
.navbar-toggler {
    padding: 10px;
}
/* navigation ends */

/* Carousel started */
main{
  padding-top: 90px;
}
/* .carousel {
   margin-bottom: 4rem; 
} */
.carousel-item {
  height: 39rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 39rem;
  /* opacity: 0.9; */
}
.carousel-item > img:hover {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 39rem;
  opacity: 1;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:#f45933;
}

.typing-animation {
  font-size: 3rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid #ee6c4d;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color:#ee6c4d; }
}
/* carousel ends */
/* Search Form */
.search-form {
  margin-top: 20px;
  width: 100%;
  max-width: 900px;
}

.search-form .form-select {
  width: 150px;
}

.search-form button {
  background-color: #ee6c4d;
  border: none;
  padding: 10px 20px;
}
.search-form button:hover{
  background-color: #ffffff;
  color:#ee6c4d;
  border: none;
  padding: 10px 20px;
}
.search-form button i {
  color: #fff;
}
.search-form select, .search-form  {
  font-size: 1.2rem;
  border-radius: 10px;
}

/* About Us Section */
#about-us {
  padding: 0 0;
  position: relative;
  background-color: #f8f9fa;
  overflow: hidden;
}
.about-img-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.about-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
}
.about-img:hover {
  transform: scale(1.1); 
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
.headline {
  font-size: 3.5rem;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.description {
  font-size: 1.2rem;
  color: #6c757d;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s forwards;
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.btn-about {
  background-color: #52B2E5;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease-in-out;
  width: 200px;
}

.btn-about:hover {
  background-color: #ee6c4d;
  color: white;
}

/* Our properties */
#properties {
  padding: 60px 0;
  background-color: #f8f9fa;
}
.parallax {
  background-image: url(resources/bg/bg1.jpg); 
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 70vh;  */
  position: relative;
  z-index: 1;
}

.parallax::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 13, 42, 0.5); 
  z-index: -1;
}
.headline-animate {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  animation: slideIn 2s forwards;
}

@keyframes slideIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.nav-pills .nav-link.active {
  background-color: #52B2E5;
  color: white;
}

.nav-pills .nav-link {
  color: rgb(215, 205, 205);
  font-weight: 600;
  margin: 0 5px;
}
.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
}
.btn-outline-primary {
  border-color: #52B2E5;
  color: #52B2E5;
}

.btn-outline-primary:hover {
  background-color:#ee6c4d;
  color: white;
}

/* end of property */

/* Testimonials Section */
#testimonials {
  padding: 60px 0;
  background-color: #f8f9fa;
}
.headline-animate-testimonials{
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  animation: slideIn 2s forwards;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.testimonial-card {
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 30px;
}

.testimonial-card:hover {
  transform: scale(1.05);
}

.testimonial-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.testimonial-img:hover {
  transform: scale(1.2);
}

.reviewer-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 15px;
}

.reviewer-designation {
  color: #6c757d;
  font-size: 1rem;
}
/* end of testimonials */

/* News and Events */
#news-events {
  padding: 60px 0;
  background-color: #f5f5f5;
}
.card a:link{
  text-decoration: none;
}
.parallax-news {
  background-image: url(resources/propertise/p10.jpg); 
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 70vh;  */
  position: relative;
  z-index: 1;
}

.parallax-news::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 13, 42, 0.5); 
  z-index: -1;
}
.headline-news {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
}

.news-card {
  border: none;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.news-card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body h5 {
  font-weight: bold;
}

.card-footer {
  background-color: #fff;
  border-top: none;
  font-size: 0.9rem;
  color: #6c757d;
}

/* footer */
.footer-socials i {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-socials a:hover i {
  color: #ee6c4d;
}


/* Contact Page */
.navbar{
  z-index: 1000;
}
.breadcrumb-section {
  background-image: url(resources/bg/bread1.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  color: white;
}

.breadcrumb-section h1 {
  font-size: 3rem;
}

.breadcrumb-section .breadcrumb {
  background-color: transparent;
  font-size: 1.2rem;
}
.breadcrumb-item.active {
  color: #ffffff;}
  .breadcrumb-item a {
    color: #ffffff;}  

/* Contact Info Section */
.contact-info-section {
  padding: 60px 0;
}

.contact-info-box {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-info-box .icon {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #007bff;
}

.map {
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
}
.contact-social-icon p {
  margin: 0;
  font-size: 1.5rem;
  padding-left: 10px;
}

.contact-social-icon i {
  transition: transform 0.3s ease;
}

.contact-social-icon i:hover {
  transform: scale(1.2);
  color: #007bff; 
}
/* Contact Form */
.contact-form-section {
  padding: 60px 0;
}

.contact-form-box {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.form-image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.5s ease;
}

.form-image-container img:hover {
  transform: scale(1.05);
}

/* gallery page */
.gallery-section {
  background-color: #f8f9fa;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
/* gallery ends */







































/* Responsive Design mixed sections*/
/* Media Query for 1024px and below */
@media (max-width: 1024px) {
  .navbar {
    padding: 1rem 1rem;
  }
  .navbar .form-control,
  .navbar .btn-outline-success {
    display: none;
  }
  .navbar-brand img {
    height: 50px;
    width: 35px;
  }
  .navbar-nav {
    margin-left: 0;
    text-align: center;
  }
  .navbar-nav .nav-item {
    margin: 0.5rem 0;
  }
  .navbar-nav .nav-link {
    font-size: medium;
  }
}

/* Media Query for 768px and below */
@media (max-width: 768px) {
  .navbar-collapse {
    justify-content: center;
  }
  .navbar-nav .nav-link {
    font-size: small;
  }
  .navbar-brand {
    text-align: center;
    margin: 0 auto;
  }
  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
  }
}
/* responsive for text  */
@media(max-width: 768px) {
  .typing-animation {
      font-size: 2rem;
  }
  .search-form {
      flex-direction: column;
  }
  .search-form .form-select, .search-form button {
      width: 100%;
      margin-bottom: 10px;
  }
}
/* Media Query for 768px and below */
@media (max-width: 320px) {
  .headline {
      font-size: 3rem;
      margin-top: -420px;
      text-align: center;
  }
  .description {
      font-size: 1rem;
  }

  .btn-about {
      width: 50%;
  }
  .description {
      font-size: 1rem;
  }

  .btn-about {
      width: 50%;
      
  }
}

@media (max-width: 768px) {
  .headline-animate {
    font-size: 2rem;
  }
}

